body{
	margin: 0;
	padding: 0;
	font-family: Century Gothic;
}
header{
	background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url("https://images.pexels.com/photos/1227520/pexels-photo-1227520.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"); 
	min-height: 500px;
	background-size: cover;
	background-position: center;
}
ul{
	float: right;
	list-style: none;
	margin-top: 25px;
}
ul li{
	display: inline-block;
}

ul li a{
	text-decoration: none;
	color: #fff;
	padding: 5px 20px;
	border: 1px solid transparent;
	transistion: 0.6s ease;
}
ul li a:hover{
	background-color: #fff;
	color: black;
}

.main{
	max-width: 1200px;
	margin: auto;
}

ul li.active a{
	background-color: #fff;
	color: black;
}

.title{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%)
}
.title h2{
	color:#fff;
	font-size: 45px;
}

.text {
	position: absolute;
	top: 70%;
	left: 50%;
	transform: translate(-50%,-50%)
}

.txt{
	color:white;
}

@media screen and (min-width: 480px) {
  #leftsidebar {width: 200px; float: left;}
  #main {margin-left: 216px;}
}