body {margin:0;}

.navbar {
  overflow: hidden;
  background-color: black;
  position: fixed;
  top: 0;
  width: 100%;
  height: 10%;
}

.navbar a {
  float: left;
  display: block;
  color: grey;
  padding: 10px 10px;
  text-decoration: none;
  font-size: 22px;
  font-family:verdana;
}



.navbar a:hover {
  color: white;
}

