body {
	margin:0;
	padding:0;
	background-image: url("http://smartersearches.com/wp-content/uploads/2016/07/dark-header.png"); 
	background-size:cover;
	background-position:center;
	font-family: sans-serif;
	background-repeat: no-repeat;
	background-attachment: fixed;
	
}

.reg-box {
	width:320px;
	height:500px;
	background: rgba(0,0,0,0.5);
	color:#fff;
	top:50%;
	left:50%;
	position: absolute;
	transform:translate(-50%,-50%);
	box-sizing: border-box;
	padding: 70px 30px;
}

.avatar {
	width: 100px;
	height: 100px;
	border-radius: 50%;
	position: absolute;
	top:-50px;
	left: calc(50% - 50px);
}

h1 {
	margin:0;
	padding: 0 0 20px;
	text-align: center;
	font-size: 22px;
}

.reg-box p{
	margin:0;
	padding: 0;
	font-weight: bold;
}

.reg-box input {
	width: 100%;
	margin-bottom: 20px;
}
.reg-box input[type="text"], input[type="password"]
{
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 40px;
    color: #fff;
    font-size: 16px;
}


.reg-box input[type="submit"]
{
		border:none;
		outline:none;
		height: 40px;
		background: #1c8adb;
		color: #fff;
		font-size:18px;
		border-radius:20px;
}

.reg-box input[type="submit"]:hover
{
	cursor:pointer;
	background:#39dc79;
	color:#000;
}